In [ ]:
# join sets
#Union Method
set1= {"x","y","z"}
set2={6,7,8}
set3=set1.union(set2)
print(set3)

{'x', 'y', 'z', 6, 7, 8}

In [ ]:
# | Operator
set1= {"x","y","z"}
set2={6,7,8}
set3= set1 | set2
print(set3)

{'x', 'y', 'z', 6, 7, 8}

In [ ]:
#Join mutiple sets
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1.union(set2,set3,set4)
print(largeset)

{'x', 'Kong', 6, 7, 8, 'King', 'Motu', 'y', 'z', 'Patlu'}

In [ ]:
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1 |set2 |set3 |set4
print(largeset)

{'x', 'Kong', 6, 7, 8, 'King', 'Motu', 'y', 'z', 'Patlu'}

In [ ]:
#update Method
set1= {"x","y","z"}
set2={6,7,8}
set1.update(set2)
print(set1)

{'x', 'y', 'z', 6, 7, 8}

In [ ]:
#intersection method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.intersection(set2)
print(set3)

{'x'}

In [ ]:
# & operator
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1 & set2
print(set3)

{'x'}

In [ ]:
# difference method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.difference(set2)
print(set3)

{'y', 'z'}

In [ ]:
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set2.difference(set1)
print(set3)

{8, 6, 7}